<h1><strong>Stupid Coaching</strong></h1>

<blockquote>
  <div class="client-box">
    <p><%= @question %></p>
    <cite>You</cite>
  </div>
</blockquote>

<blockquote>
  <div class="coach-box">
    <p><%= @answer %></p>
    <cite>Your Coach</cite>
  </div>
</blockquote>

<%= link_to "Ask new question", ask_path %>
